{
  "presets": [
    ["env", {
      "targets": {
        "node": 4.3,
        "browsers": ["last 10 versions", "ie >= 7"]
      },
      "debug": true
    }]
  ],
  "plugins": ["transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": false
    }]
  ]
}
